*.obb
Feed the Monster/Assets/Editor Default Resources
Feed the Monster/Assets/FacebookSDK
Feed the Monster/Assets/Editor Default Resources/Firebase
Feed the Monster/Assets/Firebase
Feed the Monster/Assets/GeneratedLocalRepo
Feed the Monster/Assets/Plugins/Android/Firebase
Feed the Monster/Assets/Plugins/Android/FirebaseApp.androidlib
Feed the Monster/Assets/Plugins/Android/Firebase.meta
Feed the Monster/Assets/Plugins/Android/FirebaseApp.androidlib.meta
Feed the Monster/Assets/Plugins/iOS
Feed the Monster/Assets/Plugins/iOS/Firebase
Feed the Monster/Assets/Firebase/Plugins
Feed the Monster/Assets/Editor Default Resources/Firebase
Feed the Monster/Assets/Firebase/Editor
Feed the Monster/Assets/Firebase/m2repository
Feed the Monster/Assets/Firebase/Plugins/iOS
Feed the Monster/Assets/Firebase/Plugins
Feed the Monster/Assets/Plugins
Feed the Monster/Assets/FacebookSDK.meta
Feed the Monster/Assets/GeneratedLocalRepo.meta
Feed the Monster/Assets/TextMesh Pro.meta
Feed the Monster/.vsconfig
